:root {
	--blue: #128ee6;
	--yellow: #fffd98;
	--yellow2: #ffbf00;
	--grey: #dedede;
	--card-shadow: 3px 3px 5px -1px rgb(165, 165, 165);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr; /* Sidebar + 2 main columns */
  grid-template-rows: 80px 1fr 1fr 1fr; /* Header + main content rows */
  grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar main main"
    ".      main main";
  gap: 20px;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #f5f5f5;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  grid-column: 1;
  grid-row: 1 / 6;
  color: #fff;
  background-color: var(--blue);
  padding: 15px;
}


.sidebar li{
  padding: 15px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.sidebar .logo h1 {
  font-size: 25px;
}

.sidebar img {
  max-width: var(--icon-small);
  filter: invert(1);
}

.sidebar .logo img {
  max-width: var(--icon-medium);
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 15px;
  gap: 40px;
}

.links a {
  display: flex;
  gap: 5px;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.links a > p {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  background-color: #fff;
}

.links a:hover img {
  filter: initial;
}

.links a:hover p {
  color: #000;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two columns inside main */
  grid-template-rows: auto auto;
  gap: 20px;
  overflow-y: auto; /* scroll if content overflows */
}

.Projects {
  grid-column: 1 / 2; /* span both columns */
}

.Announcements {
  grid-column: 3/ 4;
  grid-row: 2 / 3;
}

.Trending {
  grid-column: 3 / 4;
  grid-row: 3 / 4
}

img {
  width: 40px;
  height: 40px;
  fill: whitesmoke;
}